*{
  margin: 0px;
  border: border-box;
  color:white;
  font-family: "Itim", roboto;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #0C4646;
}

/**nav**/

.nav{
 display: flex; 
 margin-top: 20px;
 justify-content: space-evenly;
 align-items: center;
}
 .playlist{
  font-weight:500px;
  color: #C2C2C2;
}

.navH{
  border: transparent;
}

.navH:hover{
  border:1.4px solid white;
  padding: 1.5px;
  border-radius: 5px;
}

/**Music name**/
.musicname{
  margin-top: 35px;
  text-align: center;
}
.musicname > .Name{
  font-size: 20px;
}
.lang{
  display: inline;
  color:#C2C2C2;
}


/**Time stamp**/
.timespamp{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.current{
  margin-left: 4px;
  color:#FFC94F;
}

/**cover**/
.outer{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cover{
  border-radius: 50%;
  padding: 20px;
  border: 3px solid white;
  border-top: 3px solid #0C4646;
  border-right: 3px solid #FFC94F;
  height: 200px;
  width: 200px;
 
}

.image{
  height: 100%;
  width:100%;
  border-radius: 50%;
  background-image: url("aaj.png");
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.player{
  margin-top:60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.play{
  font-size: 50px;
}

.audio{
  margin-top: 20px;
  display: flex;
 justify-content: center;
  align-items: center;
  
}

h4{
  color:#C2C2C2;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
}


